<a href="https://colab.research.google.com/github/IDF13/mulcam_army/blob/sumin/%EB%8C%93%EA%B8%80%EB%B6%84%EC%84%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 텍스트 분석 라이브러리 초기화

In [3]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
%matplotlib inline
# 시각화 결과가 선명하게 표시
%config InlineBackend.figure_fromat = 'retina'
# range 대신 처리 시간을 알려주는 라이브러리
from tqdm import trange

# 시각화를 위한 한글폰트 설정

In [6]:
# 윈도우 한글폰트 설정
plt.rc("font", family='Malgun Gothic')

# 유튜브 크롤링 파일 로드

In [7]:
path = '/content/drive/MyDrive/[공유] Mulcam_Army 공유폴더!/크롤링 한 자료/youtube/영상별 댓글/이진수/'

shinee = 'comments_youtube_SHINee.csv'
sf9 = 'comments_youtube_SF9.csv'
seventeen = 'comments_youtube_SEVENTEEN.csv'
red_velvet = 'comments_youtube_RED VELVET.csv'
purple_kiss = 'comments_youtube_PURPLE KISS.csv'
pentagon = 'comments_youtube_PENTAGON.csv'
park_jihoon = 'comments_youtube_PARK JIHOON.csv'
oneus = 'comments_youtube_ONEUS.csv'
nuest = "comments_youtube_NU'EST.csv"
nct = "comments_youtube_NCT.csv"

df1 = pd.read_csv(path+shinee, encoding='utf-8', header=None)
df2 = pd.read_csv(path+sf9, encoding='utf-8', header=None)
df3 = pd.read_csv(path+seventeen, encoding='utf-8', header=None)
df4 = pd.read_csv(path+red_velvet, encoding='utf-8', header=None)
df5 = pd.read_csv(path+purple_kiss, encoding='utf-8', header=None)
df6 = pd.read_csv(path+pentagon, encoding='utf-8', header=None)
df7 = pd.read_csv(path+park_jihoon, encoding='utf-8', header=None)
df8 = pd.read_csv(path+oneus, encoding='utf-8', header=None)
df9 = pd.read_csv(path+nuest, encoding='utf-8', header=None)
df10 = pd.read_csv(path+nct, encoding='utf-8', header=None)

frames = [df1,df2,df3,df4,df5,df6,df7,df8,df9,df10]
keys = ['shinee','sf9','seventeen','red_velvet','purple_kiss','pentagon','park_jihoon','oneus','nuest','nct']

# df.loc['key_name']으로 데이터 프레임만 따로 뽑아낼 수 있다.
# df = pd.concat(frames,keys=keys,ignore_index=True)
df = pd.concat(frames, ignore_index=True)
df.columns=['comment','like']
df

FileNotFoundError: ignored

# 네트워크 오류 등으로 발생한 중복 입력 값 제거
- 빈도 수 중복 방지
- 대문자 소문자로 바꾸기

In [ ]:
# 중복 값 제거
print('중복 제거 전 :',df.shape)
df = df.drop_duplicates(['comment'],keep='last',ignore_index=True)
print('중복 제거 후 :',df.shape)

중복 제거 전 : (35165, 2)
중복 제거 후 : (31610, 2)

In [ ]:
# 제거 값 = NaN -> null 값으로 변환 및 행 제거
# df.to_csv('confern.csv',encoding='utf-8-sig')
df

                                                 comment  like
0      1:17 투피엠, 하이라이트 다같이 부루마블 하던 썰\r\r\n3:17 <누난 너무...  5.7천
1      험난한 가요계에 재디치의 등장이라니,,, 이거 재밌어지겠는걸?😎\r\n09:02 재...  8.6천
2                             ㅋㅋ 샤이니들 은은히 미쳤다는 말이 맞네 ㅋㅋㅋ  3.7천
3      그나저나 종현이 그냥 오늘 다른 스케쥴 있어서 빠진 거 같아\r\n늘 옆에 있는것처...    3천
4        문특 샤이니편은 진짜 레전드로 재미있음… 이렇게 자주 돌려 보는 영상 처음이야 ㅠ.ㅠ    25
...                                                  ...   ...
31605                                                Lol     1
31606          Gerçekten mi ben bunu nasıl fark edemedim     0
31607   @nani wo!  IWKSIDDKISODLSPSS9DÜS8ADP7EP8SKFIR...     0
31608                                    Thanks Sherlock     0
31609                                            wbk lol     0

[31610 rows x 2 columns]

In [ ]:
# 소문자로 바꾸기 보류
#comment_result['comment'] = comment_result['comment'].str.lower()
# copy_data.to_csv('concat_txt.csv',encoding='utf-8-sig')
#comment_result['comment']

# 언어 정제

In [ ]:
# 전처리 전 원본 보존
import copy
copy_data = copy.deepcopy(df)
copy_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31610 entries, 0 to 31609
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   comment  31610 non-null  object
 1   like     31610 non-null  object
dtypes: object(2)
memory usage: 494.0+ KB

In [ ]:
emoji_pattern = re.compile("["
        u"\U0001F600-\U0001F64F"  # emoticons
        u"\U0001F300-\U0001F5FF"  # symbols & pictographs
        u"\U0001F680-\U0001F6FF"  # transport & map symbols
        u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                           "]+", flags=re.UNICODE)

#분석에 어긋나는 불용어구 제외 (특수문자, 의성어)
han = re.compile(r'[ㄱ-ㅎㅏ-ㅣ!?~,".\n\r#\ufeff\u200d]')

In [ ]:
comment_list = []
for i in trange(len(copy_data['comment'])):
  comment_list.append(copy_data.comment.iloc[i])

100%|██████████| 31610/31610 [00:00<00:00, 56664.11it/s]

In [ ]:
comment_result = []

for i in comment_list:
    tokens = re.sub(emoji_pattern,"",i)
    tokens = re.sub(han,"",tokens)
    comment_result.append(tokens)

comment_result = pd.DataFrame(comment_result, columns=["comment"])

In [ ]:
comment_result

                                                 comment
0      1:17 투피엠 하이라이트 다같이 부루마블 하던 썰3:17 <누난 너무 예뻐>의 그...
1      험난한 가요계에 재디치의 등장이라니 이거 재밌어지겠는걸09:02 재디치 당신을 명예...
2                                   샤이니들 은은히 미쳤다는 말이 맞네
3      그나저나 종현이 그냥 오늘 다른 스케쥴 있어서 빠진 거 같아늘 옆에 있는것처럼 아무...
4           문특 샤이니편은 진짜 레전드로 재미있음… 이렇게 자주 돌려 보는 영상 처음이야
...                                                  ...
31605                                                Lol
31606          Gerçekten mi ben bunu nasıl fark edemedim
31607   @nani wo  IWKSIDDKISODLSPSS9DÜS8ADP7EP8SKFIRO...
31608                                    Thanks Sherlock
31609                                            wbk lol

[31610 rows x 1 columns]

# 언어별 분류 작업
- 정확도가 높은 fasttext 모듈로 분류

In [ ]:
!pip install fasttext

Requirement already satisfied: fasttext in /usr/local/lib/python3.7/dist-packages (0.9.2)
Requirement already satisfied: setuptools>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from fasttext) (57.4.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from fasttext) (1.19.5)
Requirement already satisfied: pybind11>=2.2 in /usr/local/lib/python3.7/dist-packages (from fasttext) (2.7.1)

In [ ]:
import fasttext
model = fasttext.load_model('/content/drive/MyDrive/ML Deep/자연어처리/lid.176.ftz')

predict = []
for t in comment_result.comment:
  predict.append(model.predict(t,k=1))

Warning : `load_model` does not return WordVectorModel or SupervisedModel any more, but a `FastText` object which is very similar.

In [ ]:
ty = pd.DataFrame(predict)

comment = []
for num, txt in enumerate(ty[0]):
  #print(txt)
  #if num == 30:
   # break
  
  txt = str(txt)

  if txt == "('__label__ko',)":
    b = re.sub(txt,"ko",txt)
    comment.append(b)
  elif txt == "('__label__en',)":
    b = re.sub(txt,"en",txt)
    comment.append(b)
  elif txt == "('__label__id',)":
    b = re.sub(txt,"id",txt)
    comment.append(b)
  else:
    b = re.sub(txt,"etc",txt)
    comment.append(b)


comment[:10]
comment = pd.DataFrame(comment)
comment

           0
0       (ko)
1       (ko)
2       (ko)
3       (ko)
4       (ko)
...      ...
31605   (en)
31606  (etc)
31607  (etc)
31608   (en)
31609  (etc)

[31610 rows x 1 columns]

In [ ]:
like = pd.DataFrame(copy_data['like'])
data = pd.concat([comment_result,like, comment],axis=1)

In [ ]:
data.columns = ['comment','like','lang']
data

                                                 comment  like   lang
0      1:17 투피엠 하이라이트 다같이 부루마블 하던 썰3:17 <누난 너무 예뻐>의 그...  5.7천   (ko)
1      험난한 가요계에 재디치의 등장이라니 이거 재밌어지겠는걸09:02 재디치 당신을 명예...  8.6천   (ko)
2                                   샤이니들 은은히 미쳤다는 말이 맞네   3.7천   (ko)
3      그나저나 종현이 그냥 오늘 다른 스케쥴 있어서 빠진 거 같아늘 옆에 있는것처럼 아무...    3천   (ko)
4           문특 샤이니편은 진짜 레전드로 재미있음… 이렇게 자주 돌려 보는 영상 처음이야     25   (ko)
...                                                  ...   ...    ...
31605                                                Lol     1   (en)
31606          Gerçekten mi ben bunu nasıl fark edemedim     0  (etc)
31607   @nani wo  IWKSIDDKISODLSPSS9DÜS8ADP7EP8SKFIRO...     0  (etc)
31608                                    Thanks Sherlock     0   (en)
31609                                            wbk lol     0  (etc)

[31610 rows x 3 columns]

In [ ]:
data_ko = pd.DataFrame([kor[:1] for kor in data.values if kor[2] == '(ko)'], columns=['comment'])
data_en = pd.DataFrame([en[:1] for en in data.values if en[2] == '(en)'], columns=['comment'])

In [ ]:
data_ko

                                                comment
0     1:17 투피엠 하이라이트 다같이 부루마블 하던 썰3:17 <누난 너무 예뻐>의 그...
1     험난한 가요계에 재디치의 등장이라니 이거 재밌어지겠는걸09:02 재디치 당신을 명예...
2                                  샤이니들 은은히 미쳤다는 말이 맞네
3     그나저나 종현이 그냥 오늘 다른 스케쥴 있어서 빠진 거 같아늘 옆에 있는것처럼 아무...
4          문특 샤이니편은 진짜 레전드로 재미있음… 이렇게 자주 돌려 보는 영상 처음이야
...                                                 ...
4539                                               1gvu
4540  The lyrics of this song wrap around my head이 노...
4541                                               이거거등
4542                            Semangat str3aming guys
4543                    Semangat str3aming nya guysssss

[4544 rows x 1 columns]

In [ ]:
!pip install git+https://github.com/haven-jeon/PyKoSpacing.git

/bin/bash: atp: command not found

In [ ]:
from pykospacing import spacing

ImportError: ignored