<a href="https://colab.research.google.com/github/IDF13/mulcam_army/blob/sumin/%EC%9C%A0%ED%8A%9C%EB%B8%8C_%EB%8C%93%EA%B8%80_%EB%B6%84%EC%84%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 텍스트 분석 라이브러리 초기화

In [ ]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
%matplotlib inline
# 시각화 결과가 선명하게 표시
%config InlineBackend.figure_fromat = 'retina'
# range 대신 처리 시간을 알려주는 라이브러리
from tqdm import trange

# 시각화를 위한 한글폰트 설정

In [ ]:
# 윈도우 한글폰트 설정
plt.rc("font", family='Malgun Gothic')

# 유튜브 크롤링 파일 로드

In [ ]:
path = '/content/drive/MyDrive/[공유] Mulcam_Army 공유폴더!/크롤링 한 자료/youtube/영상별 댓글/이진수/'

shinee = 'comments_youtube_SHINee.csv'
sf9 = 'comments_youtube_SF9.csv'
seventeen = 'comments_youtube_SEVENTEEN.csv'
red_velvet = 'comments_youtube_RED VELVET.csv'
purple_kiss = 'comments_youtube_PURPLE KISS.csv'
pentagon = 'comments_youtube_PENTAGON.csv'
park_jihoon = 'comments_youtube_PARK JIHOON.csv'
oneus = 'comments_youtube_ONEUS.csv'
nuest = "comments_youtube_NU'EST.csv"
nct = "comments_youtube_NCT.csv"

df1 = pd.read_csv(path+shinee, encoding='utf-8', header=None)
df2 = pd.read_csv(path+sf9, encoding='utf-8', header=None)
df3 = pd.read_csv(path+seventeen, encoding='utf-8', header=None)
df4 = pd.read_csv(path+red_velvet, encoding='utf-8', header=None)
df5 = pd.read_csv(path+purple_kiss, encoding='utf-8', header=None)
df6 = pd.read_csv(path+pentagon, encoding='utf-8', header=None)
df7 = pd.read_csv(path+park_jihoon, encoding='utf-8', header=None)
df8 = pd.read_csv(path+oneus, encoding='utf-8', header=None)
df9 = pd.read_csv(path+nuest, encoding='utf-8', header=None)
df10 = pd.read_csv(path+nct, encoding='utf-8', header=None)

frames = [df1,df2,df3,df4,df5,df6,df7,df8,df9,df10]
keys = ['shinee','sf9','seventeen','red_velvet','purple_kiss','pentagon','park_jihoon','oneus','nuest','nct']

# df.loc['key_name']으로 데이터 프레임만 따로 뽑아낼 수 있다.
# df = pd.concat(frames,keys=keys,ignore_index=True)
df = pd.concat(frames, ignore_index=True)
df.columns=['comment','like']
df

                                                 comment  like
0      1:17 투피엠, 하이라이트 다같이 부루마블 하던 썰\r\r\n3:17 <누난 너무...  5.7천
1      험난한 가요계에 재디치의 등장이라니,,, 이거 재밌어지겠는걸?😎\r\n09:02 재...  8.6천
2                             ㅋㅋ 샤이니들 은은히 미쳤다는 말이 맞네 ㅋㅋㅋ  3.7천
3      그나저나 종현이 그냥 오늘 다른 스케쥴 있어서 빠진 거 같아\r\n늘 옆에 있는것처...    3천
4        문특 샤이니편은 진짜 레전드로 재미있음… 이렇게 자주 돌려 보는 영상 처음이야 ㅠ.ㅠ    25
...                                                  ...   ...
35160                                                Lol     1
35161          Gerçekten mi ben bunu nasıl fark edemedim     0
35162   @nani wo!  IWKSIDDKISODLSPSS9DÜS8ADP7EP8SKFIR...     0
35163                                    Thanks Sherlock     0
35164                                            wbk lol     0

[35165 rows x 2 columns]

# 네트워크 오류 등으로 발생한 중복 입력 값 제거
- 빈도 수 중복 방지
- 대문자 소문자로 바꾸기

In [ ]:
# 중복 값 제거
print('중복 제거 전 :',df.shape)
df = df.drop_duplicates(['comment'],keep='last',ignore_index=True)
print('중복 제거 후 :',df.shape)

중복 제거 전 : (35165, 2)
중복 제거 후 : (31610, 2)

In [ ]:
# 제거 값 = NaN -> null 값으로 변환 및 행 제거
# df.to_csv('confern.csv',encoding='utf-8-sig')
df

                                                 comment  like
0      1:17 투피엠, 하이라이트 다같이 부루마블 하던 썰\r\r\n3:17 <누난 너무...  5.7천
1      험난한 가요계에 재디치의 등장이라니,,, 이거 재밌어지겠는걸?😎\r\n09:02 재...  8.6천
2                             ㅋㅋ 샤이니들 은은히 미쳤다는 말이 맞네 ㅋㅋㅋ  3.7천
3      그나저나 종현이 그냥 오늘 다른 스케쥴 있어서 빠진 거 같아\r\n늘 옆에 있는것처...    3천
4        문특 샤이니편은 진짜 레전드로 재미있음… 이렇게 자주 돌려 보는 영상 처음이야 ㅠ.ㅠ    25
...                                                  ...   ...
31605                                                Lol     1
31606          Gerçekten mi ben bunu nasıl fark edemedim     0
31607   @nani wo!  IWKSIDDKISODLSPSS9DÜS8ADP7EP8SKFIR...     0
31608                                    Thanks Sherlock     0
31609                                            wbk lol     0

[31610 rows x 2 columns]

In [ ]:
# 소문자로 바꾸기 보류
#comment_result['comment'] = comment_result['comment'].str.lower()
# copy_data.to_csv('concat_txt.csv',encoding='utf-8-sig')
#comment_result['comment']

# 언어 정제

In [ ]:
# 전처리 전 원본 보존
import copy
copy_data = copy.deepcopy(df)
copy_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31610 entries, 0 to 31609
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   comment  31610 non-null  object
 1   like     31610 non-null  object
dtypes: object(2)
memory usage: 494.0+ KB

In [ ]:
emoji_pattern = re.compile("["
        u"\U0001F600-\U0001F64F"  # emoticons
        u"\U0001F300-\U0001F5FF"  # symbols & pictographs
        u"\U0001F680-\U0001F6FF"  # transport & map symbols
        u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                           "]+", flags=re.UNICODE)

#분석에 어긋나는 불용어구 제외 (특수문자, 의성어)
han = re.compile(r'[ㄱ-ㅎㅏ-ㅣ!?~,".\n\r#\ufeff\u200d]')

In [ ]:
comment_list = []
for i in trange(len(copy_data['comment'])):
  comment_list.append(copy_data.comment.iloc[i])

100%|██████████| 31610/31610 [00:00<00:00, 62891.68it/s]

In [ ]:
comment_result = []

for i in comment_list:
    tokens = re.sub(emoji_pattern,"",i)
    tokens = re.sub(han,"",tokens)
    comment_result.append(tokens)

comment_result = pd.DataFrame(comment_result, columns=["comment"])

In [ ]:
comment_result

                                                 comment
0      1:17 투피엠 하이라이트 다같이 부루마블 하던 썰3:17 <누난 너무 예뻐>의 그...
1      험난한 가요계에 재디치의 등장이라니 이거 재밌어지겠는걸09:02 재디치 당신을 명예...
2                                   샤이니들 은은히 미쳤다는 말이 맞네
3      그나저나 종현이 그냥 오늘 다른 스케쥴 있어서 빠진 거 같아늘 옆에 있는것처럼 아무...
4           문특 샤이니편은 진짜 레전드로 재미있음… 이렇게 자주 돌려 보는 영상 처음이야
...                                                  ...
31605                                                Lol
31606          Gerçekten mi ben bunu nasıl fark edemedim
31607   @nani wo  IWKSIDDKISODLSPSS9DÜS8ADP7EP8SKFIRO...
31608                                    Thanks Sherlock
31609                                            wbk lol

[31610 rows x 1 columns]

# 언어별 분류 작업
- 정확도가 높은 fasttext 모듈로 분류

In [ ]:
!pip install fasttext

Collecting fasttext
  Downloading fasttext-0.9.2.tar.gz (68 kB)
     |████████████████████████████████| 68 kB 3.1 MB/s
Collecting pybind11>=2.2
  Using cached pybind11-2.7.1-py2.py3-none-any.whl (200 kB)
Requirement already satisfied: setuptools>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from fasttext) (57.4.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from fasttext) (1.19.5)
Building wheels for collected packages: fasttext
  Building wheel for fasttext (setup.py) ... done
  Created wheel for fasttext: filename=fasttext-0.9.2-cp37-cp37m-linux_x86_64.whl size=3094268 sha256=109d26b667925720c0047954c8fd38f19d645dc168cca4c8e694d3ba4dcaa93b
  Stored in directory: /root/.cache/pip/wheels/4e/ca/bf/b020d2be95f7641801a6597a29c8f4f19e38f9c02a345bab9b
Successfully built fasttext
Installing collected packages: pybind11, fasttext
Successfully installed fasttext-0.9.2 pybind11-2.7.1

In [ ]:
import fasttext
model = fasttext.load_model('/content/drive/MyDrive/ML Deep/자연어처리/lid.176.ftz')

predict = []
for t in comment_result.comment:
  predict.append(model.predict(t,k=1))

Warning : `load_model` does not return WordVectorModel or SupervisedModel any more, but a `FastText` object which is very similar.

In [ ]:
ty = pd.DataFrame(predict)

comment = []
for num, txt in enumerate(ty[0]):
  #print(txt)
  #if num == 30:
   # break
  
  txt = str(txt)

  if txt == "('__label__ko',)":
    b = re.sub(txt,"ko",txt)
    comment.append(b)
  elif txt == "('__label__en',)":
    b = re.sub(txt,"en",txt)
    comment.append(b)
  elif txt == "('__label__id',)":
    b = re.sub(txt,"id",txt)
    comment.append(b)
  else:
    b = re.sub(txt,"etc",txt)
    comment.append(b)


comment[:10]
comment = pd.DataFrame(comment)
comment

           0
0       (ko)
1       (ko)
2       (ko)
3       (ko)
4       (ko)
...      ...
31605   (en)
31606  (etc)
31607  (etc)
31608   (en)
31609  (etc)

[31610 rows x 1 columns]

In [ ]:
like = pd.DataFrame(copy_data['like'])
data = pd.concat([comment_result,like, comment],axis=1)

In [ ]:
data.columns = ['comment','like','lang']
data

                                                 comment  like   lang
0      1:17 투피엠 하이라이트 다같이 부루마블 하던 썰3:17 <누난 너무 예뻐>의 그...  5.7천   (ko)
1      험난한 가요계에 재디치의 등장이라니 이거 재밌어지겠는걸09:02 재디치 당신을 명예...  8.6천   (ko)
2                                   샤이니들 은은히 미쳤다는 말이 맞네   3.7천   (ko)
3      그나저나 종현이 그냥 오늘 다른 스케쥴 있어서 빠진 거 같아늘 옆에 있는것처럼 아무...    3천   (ko)
4           문특 샤이니편은 진짜 레전드로 재미있음… 이렇게 자주 돌려 보는 영상 처음이야     25   (ko)
...                                                  ...   ...    ...
31605                                                Lol     1   (en)
31606          Gerçekten mi ben bunu nasıl fark edemedim     0  (etc)
31607   @nani wo  IWKSIDDKISODLSPSS9DÜS8ADP7EP8SKFIRO...     0  (etc)
31608                                    Thanks Sherlock     0   (en)
31609                                            wbk lol     0  (etc)

[31610 rows x 3 columns]

In [ ]:
data_ko = pd.DataFrame([kor[:1] for kor in data.values if kor[2] == '(ko)'], columns=['comment'])
data_en = pd.DataFrame([en[:1] for en in data.values if en[2] == '(en)'], columns=['comment'])

In [ ]:
data_ko

                                                comment
0     1:17 투피엠 하이라이트 다같이 부루마블 하던 썰3:17 <누난 너무 예뻐>의 그...
1     험난한 가요계에 재디치의 등장이라니 이거 재밌어지겠는걸09:02 재디치 당신을 명예...
2                                  샤이니들 은은히 미쳤다는 말이 맞네
3     그나저나 종현이 그냥 오늘 다른 스케쥴 있어서 빠진 거 같아늘 옆에 있는것처럼 아무...
4          문특 샤이니편은 진짜 레전드로 재미있음… 이렇게 자주 돌려 보는 영상 처음이야
...                                                 ...
4539                                               1gvu
4540  The lyrics of this song wrap around my head이 노...
4541                                               이거거등
4542                            Semangat str3aming guys
4543                    Semangat str3aming nya guysssss

[4544 rows x 1 columns]

In [ ]:
#!proper installation of python3
#!proper installation of pip

#!pip install tensorflow
#!pip install keras
!!pip install git+https://github.com/ssut/py-hanspell.git

['Collecting git+https://github.com/ssut/py-hanspell.git',
 '  Cloning https://github.com/ssut/py-hanspell.git to /tmp/pip-req-build-bz0enler',
 '  Running command git clone -q https://github.com/ssut/py-hanspell.git /tmp/pip-req-build-bz0enler',
 'Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from py-hanspell==1.1) (2.23.0)',
 'Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->py-hanspell==1.1) (3.0.4)',
 'Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->py-hanspell==1.1) (2.10)',
 'Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->py-hanspell==1.1) (1.24.3)',
 'Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->py-hanspell==1.1) (2021.5.30)']

In [ ]:
# 스펠링 및 띄어쓰기 검사 --> 보류
'''from hanspell import spell_checker

# spelled_sent = [spell_checker.check(sent) for sent in data_ko.comment]
sent = data_ko.comment[1]
spelled_sent = spell_checker.check(sent)'''

'from hanspell import spell_checker\n\n# spelled_sent = [spell_checker.check(sent) for sent in data_ko.comment]\nsent = data_ko.comment[1]\nspelled_sent = spell_checker.check(sent)'

In [ ]:
# 숫자제거 / 밑줄 제외한 특수문자 제거
p = re.compile("[0-9]+")
q = re.compile("\W+")

kr = []
kr_text = data_ko.comment
for i in kr_text:
  tokens = re.sub(p," ",i)
  tokens = re.sub(q," ",tokens)
  kr.append(tokens)

data_ko_refine = pd.DataFrame(kr, columns=['comment'])

In [ ]:
!pip install soynlp

Collecting soynlp
  Downloading soynlp-0.0.493-py3-none-any.whl (416 kB)
     |████████████████████████████████| 416 kB 5.3 MB/s
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from soynlp) (0.22.2.post1)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from soynlp) (1.4.1)
Requirement already satisfied: psutil>=5.0.1 in /usr/local/lib/python3.7/dist-packages (from soynlp) (5.4.8)
Requirement already satisfied: numpy>=1.12.1 in /usr/local/lib/python3.7/dist-packages (from soynlp) (1.19.5)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->soynlp) (1.0.1)
Installing collected packages: soynlp
Successfully installed soynlp-0.0.493

# soynlp를 이용한 단어 토큰화

In [ ]:
import urllib.request
from soynlp import DoublespaceLineCorpus
from soynlp.noun import LRNounExtractor
from soynlp.word import WordExtractor
from soynlp.tokenizer import LTokenizer

# 예제 말뭉치 다운로드
urllib.request.urlretrieve("https://raw.githubusercontent.com/lovit/soynlp/master/tutorials/2016-10-20.txt", filename="2016-10-20.txt")
corpus = DoublespaceLineCorpus("2016-10-20.txt")
len(corpus)

30091

In [ ]:
# 예제 말뭉치 상위 5개 문서 텍스트 확인
i = 0
for document in corpus:
  if len(document) > 0:
    print(document)
    i = i+1
  if i == 5:
    break

19  1990  52 1 22
오패산터널 총격전 용의자 검거 서울 연합뉴스 경찰 관계자들이 19일 오후 서울 강북구 오패산 터널 인근에서 사제 총기를 발사해 경찰을 살해한 용의자 성모씨를 검거하고 있다 성씨는 검거 당시 서바이벌 게임에서 쓰는 방탄조끼에 헬멧까지 착용한 상태였다 독자제공 영상 캡처 연합뉴스  서울 연합뉴스 김은경 기자 사제 총기로 경찰을 살해한 범인 성모 46 씨는 주도면밀했다  경찰에 따르면 성씨는 19일 오후 강북경찰서 인근 부동산 업소 밖에서 부동산업자 이모 67 씨가 나오기를 기다렸다 이씨와는 평소에도 말다툼을 자주 한 것으로 알려졌다  이씨가 나와 걷기 시작하자 성씨는 따라가면서 미리 준비해온 사제 총기를 이씨에게 발사했다 총알이 빗나가면서 이씨는 도망갔다 그 빗나간 총알은 지나가던 행인 71 씨의 배를 스쳤다  성씨는 강북서 인근 치킨집까지 이씨 뒤를 쫓으며 실랑이하다 쓰러뜨린 후 총기와 함께 가져온 망치로 이씨 머리를 때렸다  이 과정에서 오후 6시 20분께 강북구 번동 길 위에서 사람들이 싸우고 있다 총소리가 났다 는 등의 신고가 여러건 들어왔다  5분 후에 성씨의 전자발찌가 훼손됐다는 신고가 보호관찰소 시스템을 통해 들어왔다 성범죄자로 전자발찌를 차고 있던 성씨는 부엌칼로 직접 자신의 발찌를 끊었다  용의자 소지 사제총기 2정 서울 연합뉴스 임헌정 기자 서울 시내에서 폭행 용의자가 현장 조사를 벌이던 경찰관에게 사제총기를 발사해 경찰관이 숨졌다 19일 오후 6시28분 강북구 번동에서 둔기로 맞았다 는 폭행 피해 신고가 접수돼 현장에서 조사하던 강북경찰서 번동파출소 소속 김모 54 경위가 폭행 용의자 성모 45 씨가 쏜 사제총기에 맞고 쓰러진 뒤 병원에 옮겨졌으나 숨졌다 사진은 용의자가 소지한 사제총기  신고를 받고 번동파출소에서 김창호 54 경위 등 경찰들이 오후 6시 29분께 현장으로 출동했다 성씨는 그사이 부동산 앞에 놓아뒀던 가방을 챙겨 오패산 쪽으로 도망간 후였다  김 경위는 오패산 터널 입구 오른쪽의 급경사에서 성씨에게 접근하다가 오후 6시 33분께 풀숲에 숨은 성씨가 허공에 난사한 10여발의 총알 중 일부를 왼쪽 어깨 뒷부분에 맞고 쓰러졌다  김 경위는 구급차가 도착했을 때 이미 의식이 없었고 심폐소생술을 하며 병원으로 옮겨졌으나 총알이 폐를 훼손해 오후 7시 40분께 사망했다  김 경위는 외근용 조끼를 입고 있었으나 총알을 막기에는 역부족이었다  머리에 부상을 입은 이씨도 함께 병원으로 이송됐으나 생명에는 지장이 없는 것으로 알려졌다  성씨는 오패산 터널 밑쪽 숲에서 오후 6시 45분께 잡혔다  총격현장 수색하는 경찰들 서울 연합뉴스 이효석 기자 19일 오후 서울 강북구 오패산 터널 인근에서 경찰들이 폭행 용의자가 사제총기를 발사해 경찰관이 사망한 사건을 조사 하고 있다  총 때문에 쫓던 경관들과 민간인들이 몸을 숨겼는데 인근 신발가게 직원 이모씨가 다가가 성씨를 덮쳤고 이어 현장에 있던 다른 상인들과 경찰이 가세해 체포했다  성씨는 경찰에 붙잡힌 직후 나 자살하려고 한 거다 맞아 죽어도 괜찮다 고 말한 것으로 전해졌다  성씨 자신도 경찰이 발사한 공포탄 1발 실탄 3발 중 실탄 1발을 배에 맞았으나 방탄조끼를 입은 상태여서 부상하지는 않았다  경찰은 인근을 수색해 성씨가 만든 사제총 16정과 칼 7개를 압수했다 실제 폭발할지는 알 수 없는 요구르트병에 무언가를 채워두고 심지를 꽂은 사제 폭탄도 발견됐다  일부는 숲에서 발견됐고 일부는 성씨가 소지한 가방 안에 있었다
테헤란 연합뉴스 강훈상 특파원 이용 승객수 기준 세계 최대 공항인 아랍에미리트 두바이국제공항은 19일 현지시간 이 공항을 이륙하는 모든 항공기의 탑승객은 삼성전자의 갤럭시노트7을 휴대하면 안 된다고 밝혔다  두바이국제공항은 여러 항공 관련 기구의 권고에 따라 안전성에 우려가 있는 스마트폰 갤럭시노트7을 휴대하고 비행기를 타면 안 된다 며 탑승 전 검색 중 발견되면 압수할 계획 이라고 발표했다  공항 측은 갤럭시노트7의 배터리가 폭발 우려가 제기된 만큼 이 제품을 갖고 공항 안으로 들어오지 말라고 이용객에 당부했다  이런 조치는 두바이국제공항 뿐 아니라 신공항인 두바이월드센터에도 적용된다  배터리 폭발문제로 회수된 갤럭시노트7 연합뉴스자료사진
브뤼셀 연합뉴스 김병수 특파원 독일 정부는 19일 원자력발전소를 폐쇄하기로 함에 따라 원자력 발전소 운영자들에게 핵폐기물 처리를 지원하는 펀드에 235억 유로 260억 달러 29조 원 를 지불하도록 하는 계획을 승인했다고 언론들이 보도했다  앞서 독일은 5년 전 일본 후쿠시마 원전사태 이후 오는 2022년까지 원전 17기를 모두 폐쇄하기로 하고 오는 2050년까지 전기생산량의 80 를 재생에너지로 충당하는 것을 목표로 세웠다  이날 내각을 통과한 법안은 원전 운영자들이 원전 해체와 핵폐기물 처리를 위한 포장을 책임지고 정부는 핵폐기물 보관을 책임지도록 했다  독일 경제부는 전력회사들과 공식적인 접촉은 아직 합의되지 않았다고 밝혔다  독일 원자력 발전소 연합뉴스 자료사진
서울 연합뉴스 19일 서울 강북구에서 사제 총기범이 쏜 총탄에 숨진 김창호 54 경위의 생전 모습 김 경위는 의협심 강하고 솔선수범하는 참된 경찰관이었다는 평가를 받는다 2016 10 20 서울 강북경찰서 제공 연합뉴스

In [ ]:
# 유튜브 데이터 문서화
a = []
for t in data_ko_refine.comment:
  a.append(t)
  

s = ", ".join(a)
len(s)

186377

In [ ]:
# 예제 말뭉치 테스트
'''word_extractor = WordExtractor()
word_extractor.train(corpus)
word_score_table = word_extractor.extract()
word_score_table["샤이"].cohesion_forward
'''

training was done. used memory 0.181 Gb
all cohesion probabilities was computed. # words = 0
all branching entropies was computed # words = 0
all accessor variety was computed # words = 0

In [ ]:
# 단어 워드클라우드 시각화 (불용어 제거 단어 선정을 위한)
'''from wordcloud import WordCloud
default_path = '/content/drive/MyDrive/[공유] Mulcam_Army 공유폴더!/'
cloud = WordCloud(font_path=default_path+'NanumGothic.ttf').generate("".join(a))
plt.figure(figsize=(30,20))
plt.imshow(cloud)
plt.axis('off')'''

In [ ]:
# 단어 토크나이징

none_extractor = LRNounExtractor()
nouns = none_extractor.train_extract(s)

[Noun Extractor] used default noun predictor; Sejong corpus predictor
[Noun Extractor] used noun_predictor_sejong
[Noun Extractor] All 2398 r features was loaded
[Noun Extractor] scanning was done (L,R) has (906, 0) tokens
[Noun Extractor] building L-R graph was done
[Noun Extractor] 0 nouns are extracted